<div class="cover none" ng-click="menuClose()"></div>
<header>
	<div class="topnav row">
		<div class="col-2" ng-click="menuOpen()">
			<span class="icon-list5"></span>
		</div>
		<div class="col-8">
			聊天室
		</div>
		<div class="col-2">
			
		</div>
	</div>
</header>
<div class="main room-bg">
	<div class="room">
		<div class="room-subject">
			<div class="room-subject-header">
				推荐主题
			</div>
			<div class="room-subject-content row">
				<div class="col-6">
					<div class="room-item" ng-click="chat()">
						<img src="images/slider.jpg" alt="" width="120px">
						<div class="room-item-content green">
							互联网
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>