<div class="cover none" ng-click="menuClose()"></div>
<header>
	<div class="topnav row">
		<div class="col-2" ng-click="menuOpen()">
			<span class="icon-list5"></span>
		</div>
		<div class="col-8">
			设置
		</div>
		<div class="col-2">
			
		</div>
	</div>
</header>
<div class="main setting-bg">
	<div class="setting-user">
		<div class="col-2">
			<div class="setting-user-img">
				<span class="icon-user2"></span>
			</div>
		</div>
		<div class="col-9">
			我的资料
		</div>
		<div class="setting-user-icon col-1">
			<span class="icon-uniE91B"></span>
		</div>
	</div>
	<div class="setting-group">
		<div class="setting-item">
			<div class="row">
				<div class="col-2">
					<div class="setting-item-icon light">
						<span class="icon-download4"></span>
					</div>
				</div>
				<div class="col-8">
					自动离线下载
				</div>
				<div class="col-4">
					
				</div>
			</div>
			<div class="row">
				<div class="col-2"></div>
				<div class="setting-item-message col-10">
					仅wifi下可用，自动下载最新内容，删除旧内容
				</div>
			</div>
		</div>
		<div class="setting-item">
			<div class="row">
				<div class="col-2">
					<div class="setting-item-icon deep">
						<span class="icon-images"></span>
					</div>
				</div>
				<div class="col-8">
					无图模式
				</div>
				<div class="col-4">
					
				</div>
			</div>
			<div class="row">
				<div class="col-2"></div>
				<div class="setting-item-message col-10">
					2G/3G网络不下载图片
				</div>
			</div>
		</div>
		<div class="setting-item">
			<div class="row">
				<div class="col-2">
					<div class="setting-item-icon purple">
						<span class="icon-font"></span>
					</div>
				</div>
				<div class="col-8">
					大字号
				</div>
				<div class="col-4">
					
				</div>
			</div>
		</div>
	</div>
	<div class="setting-group">
		<div class="setting-item">
			<div class="row">
				<div class="col-2">
					<div class="setting-item-icon pink">
						<span class="icon-bell"></span>
					</div>
				</div>
				<div class="col-8">
					消息推送
				</div>
				<div class="col-4">
					
				</div>
			</div>
			<div class="row">
				<div class="col-2"></div>
				<div class="setting-item-message col-10">
				</div>
			</div>
		</div>
		<div class="setting-item">
			<div class="row">
				<div class="col-2">
					<div class="setting-item-icon orange">
						<span class="icon-images"></span>
					</div>
				</div>
				<div class="col-8">
					点评分享到微博
				</div>
				<div class="col-4">
					
				</div>
			</div>
		</div>
	</div>
	<div class="setting-group">
		<div class="setting-item">
			<div class="row">
				<div class="col-2">
					<div class="setting-item-icon red">
						<span class="icon-trash2"></span>
					</div>
				</div>
				<div class="col-8">
					清除缓存
				</div>
				<div class="col-4">
					
				</div>
			</div>
			<div class="row">
				<div class="col-2"></div>
				<div class="setting-item-message col-10">
				</div>
			</div>
		</div>
		<div class="setting-item">
			<div class="row">
				<div class="col-2">
					<div class="setting-item-icon green">
						<span class="icon-images"></span>
					</div>
				</div>
				<div class="col-8">
					检查更新
				</div>
				<div class="col-4">
					
				</div>
			</div>
		</div>
	</div>
	<div class="setting-group">
		<div class="setting-item">
			<div class="row">
				<div class="col-2">
					<div class="setting-item-icon blue">
						<span class="icon-text"></span>
					</div>
				</div>
				<div class="col-8">
					意见反馈
				</div>
				<div class="col-4">
					
				</div>
			</div>
		</div>
	</div>
</div>