<div class="cover none" ng-click="menuClose()"></div>
<header>
	<div class="topnav row">
		<div class="col-2" ng-click="menuOpen()">
			<span class="icon-list5"></span>
		</div>
		<div class="col-8">
			个人主页
		</div>
		<div class="col-2">
			
		</div>
	</div>
</header>
<div class="main user-bg">
	<div class="user">
		<div class="user-img pb20">
			<img src="../images/slider.jpg" alt="" width="80px" height="80px">
		</div>
		<div class="user-info pb20">
			jason
		</div>
		<div class="user-btn tc pb20">
			<button class="btn-blue">刷新</button>
		</div>
		<div class="user-btn tc">
			<button class="btn-red">登出</button>
		</div>
	</div>
</div>